@import 'variables';
@import './mixins';

/*------------------- placeholder components ----------------*/

.container {
    width: 100%;
    padding-right: calc($gutter / 2);
    padding-left: calc($gutter / 2);
    margin: 0 auto;

    @include breakpoint(s) {
        max-width: $tablet;
    }

    @include breakpoint(m) {
        max-width: $desktop;
    }

    @include breakpoint(l) {
        max-width: $desktop-large
    }
}

/*--------------------- resets -------------------*/
%listreset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

%buttonreset {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}