@import './variables';
@import './mixins';

.bookpage {
    &-container {
        @extend %container;
        padding-bottom: $gutter;
        min-height: 100vh;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: $gutter;

        @include breakpoint (m) {
            flex-direction: row;
        }
    }
    &-img{
        padding-bottom: calc($gutter/2);

        @include breakpoint (m) {

            padding-right: $gutter;
        }
    }
    &-inner {
        @include breakpoint (m) {
            flex: 2;
        }
    }
    &-header {
        text-align: center;
        padding-bottom: calc($gutter/2);
        border-bottom: 1px solid $yellow;
        line-height: 1;

        @include breakpoint (m) {
            text-align: start;
        }
    }
    &-heading{
        display: flex;
        flex-direction: column-reverse;
        padding: calc($gutter/2) 0;

        @include breakpoint (s) {
            flex-direction: row;
        }

        &-inner {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-image {
            display: flex;
            justify-content: center; 
            flex: 1;
        }
        &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 16px;
        }
        &-button {
           @extend %primarybutton;
           width: 30%;
           height: 45px;


           @include breakpoint (m) {
            height: 55px;
            font-size: 3.2rem;
           }
        }
      
        &-text:last-of-type{
            padding-bottom: calc($gutter /4);
        }
    }
    
    &-info{
        padding: calc($gutter/2) 0;

        &-header{
            padding-bottom: calc($gutter/4);
        }
    }
    &-footer {
        width: 100%;
        
        &-button {
            @extend %secondarybutton;
            padding: calc($gutter /4) calc($gutter/ 2);
            display: flex;
            flex-direction: row-reverse;
            gap: 8px;
            
            @include breakpoint (m) {
                font-size: 2.4rem;
            }
        }
    }
    
    
}