@import './variables';
@import './mixins';

.breadcrumbs {
    width: 100%;
    padding-bottom: calc($gutter / 2);

    &-list{
        @extend %listreset;
        display: flex;
        flex-direction: row;

        &-item:first-child{
            padding-left: 0;
        }
        
        &-item{
            padding-left: 8px;
            gap: 8px;

            &Separator{
                padding-right: 8px;
            }

            &Link{
                font-size: 2.4rem;
            }
            &Link:hover {
                text-decoration: underline;
            }
        }
        
        
    }
}