@import './variables';
@import './mixins';

.categories {
    &-container {
        @extend %container;
        
    
    }
    &-inner{
        display: flex;
        flex-direction: column;

        @include breakpoint (s) {
            flex-direction: row;
            
        }
    }

    &-header {
        padding-bottom: calc($gutter /2);
        text-align: center;
    }

    &-slider {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative; 

        &-wrapper {
            margin-bottom: $gutter;

            @include breakpoint (s) {
               padding-right: calc($gutter *2);
               width: 30%;
            }

       }
       &-list {
        @extend %listreset;
        display: flex;
        flex-direction: row;
        width: 200%;
        justify-content: center;

        @include breakpoint (s) {
            flex-direction: column;
        }

        &Button {
            @extend %buttonreset;
            background-color: $red;
            width:60px;
            height: 60px;
            border-radius: 50%;


        }
        }

        &-item {
            word-break: break-all;
            hyphens: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            flex: 0 0 50%;

            @include breakpoint (s) {
                width: 100%;
                padding-bottom: $gutter;
            }

            &Text {
                padding-left: 8px;
                padding-right: 8px;
                
            }

        }
        &-button {
            @extend %buttonreset;
            position: absolute;
            top: 16px;
            font-size: 32px;
    
            @include breakpoint (s) {
                display: none;
            }
    
            &Next {
                right: 0px;
            }
        }

    }
    
    &-content {
        &-innerWrapper {
            display: flex;
            flex-direction: column;
            @include breakpoint (s) {
                width: 50%;
            }
        }

        &-list{
            @extend %listreset;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $gutter;

            &Link {
                
                align-self: center
            }
            
            &Button {
                @extend %secondarybutton;
                width: 100%;
                
            }
        }

        &-item {
            width: 100%;
            display:grid;
            

            @include breakpoint (s) {
                margin: calc($gutter/4);

            }
            
        }
        &-text {
            align-self: start;
        }
        &-img {

            &Wrapper {
                align-self: start;
                width: 100%;
            }
        }

        &-title {
            font-weight: 700;
            padding-bottom: calc($gutter/4);
        }
        &-button {
            @extend %primarybutton;
            width: 100%;
            height: 24px;
            
            &Wrapper {
                width: 100%;
                align-self: end;
                
            }
        }
    }
}