@import './variables';
@import './mixins';

.categories {
    &-container {
        @extend %container;
        padding-bottom: $gutter;

    }
    &-inner{
        display: flex;
        flex-direction: column;

        @include breakpoint (s) {
            flex-direction: row;  
        }
    }

    &-header {
        padding-bottom: calc($gutter /2);
        text-align: center;
    }

    &-slider {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative; 

        &-wrapper {
            margin-bottom: $gutter;

            @include breakpoint (s) {
               padding-right: $gutter;
               width: 30%;
               flex: 1;
            }

       }
       &-list {
        @extend %listreset;
        display: flex;
        flex-direction: row;
        width: 200%;
        justify-content: center;

        @include breakpoint (s) {
            flex-direction: column;
        }

        &Button {
            @extend %secondarybutton;
            width:60px;
            height: 60px;
            border-radius: 50%;

        }
        }

        &-item {
            word-break: break-all;
            hyphens: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            flex: 0 0 50%;

            @include breakpoint (s) {
                width: 100%;
                padding-bottom: $gutter;
            }

            &Text {
                padding: 8px 8px 0 8px;
                
            }

        }
        &-button {
            @extend %buttonreset;
            position: absolute;
            top: 16px;
            font-size: 32px;

            & i {
                font-size: 2.4rem;
               }
    
            @include breakpoint (s) {
                display: none;
            }
    
            &Next {
                right: 0px;
            }
        }

    }
    
    &-content {
        &-wrapper {
            @include breakpoint (s) {
                flex: 2;
            }

            @include breakpoint (l) {
                flex: 3;
            }
        }
        &-innerWrapper {
            display: flex;
            flex-direction: column;
            @include breakpoint (s) {
                width: 50%;
            }
        }

        &-list{
            @extend %listreset;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(50% - calc($gutter / 2)), 1fr));
            
            @include breakpoint (s) {
                grid-template-columns: repeat(auto-fill, minmax(calc(33% - calc($gutter / 2)), 1fr));
            }

            @include breakpoint (m) {
                grid-template-columns: repeat(auto-fill, minmax(calc(33% - $gutter), 1fr));
            }

            @include breakpoint (l) {
                grid-template-columns: repeat(auto-fill, minmax(calc(25% - $gutter), 1fr));
            }

            &Link {
                align-self: center;
                

                @include breakpoint (m) {
                    font-size: 2rem
                }
                @include breakpoint (l) {
                    font-size: 2.4rem;
                    
                }
            }
            
            &Button {
                @extend %secondarybutton;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 8px;
                @include breakpoint(l) {
       
                }
            }
        }

        &-item {
            margin: calc($gutter/4);
            display:grid;
            

            @include breakpoint (s) {
                margin: calc($gutter/4);
            }

            @include breakpoint (m) {  
                margin: calc($gutter/2);
            }
        }

        &-text {
            align-self: start;
            text-wrap: wrap;
        }
        &-img {
            padding: calc($gutter / 2) 0;
            &Wrapper {
                display:  flex;
                align-self: start;
                width: 100%;
                background-color: $yellow-light;
                border-radius: 16px;
                justify-content: center;
            }
        }

        &-title {
            font-weight: 700;
            padding-bottom: calc($gutter/4);
        }
        
        &-button {
            @extend %primarybutton;
            width: 100%;
            height: 32px;

            @include breakpoint (s) {
                height: 45px;
                font-size: 2rem;
            }
            
            &Wrapper {
                width: 100%;
                align-self: end;
            }
        }
    }
}