@import './variables';

*::before,
*::after {
    box-sizing: border-box;
}
#root {
    display: flex;
    flex-direction: column;
}
html,
body {
    height: 100%;

}

body {
    overflow-x: hidden;
    background-color: $primary;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}
.hidden {
  display: none;
}
.overlay {
    opacity: .3;

    @include breakpoint (s){
        opacity: 1;
    }
}
