@import './variables';

.header {
    &-container {
        @extend %container;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary;
        z-index: 2;
        
    }
    &-logo {
        width: 150px;
    }

    &-nav {
        background-color: $secondary;
        position: fixed;
        min-width: 100%;
        top: 0;
        left: 0;
        box-shadow: 0 5px 5px black;

        &-container {
            width: 100vw;
            background-color: $secondary;
        }
        &-list {
            @extend %listreset;
            padding: 32px 16px;
            color: $primary;
            font-size: 2rem;
            
        }
        
        &-button{
            @extend %buttonreset;
            position: fixed;
            right: 16px;
        }
        &-symbol {
            line-height: 1.5;
            color: $primary;
            font-size: 3.2rem;
            
        }
        &-inner {
            &Menu {
                @extend %listreset;
                padding-left: 16px;
                font-weight: lighter;
            }
            &Button {
                @extend %buttonreset;
                color: inherit;
                display: flex;
            }

            
        }
    }

}
