@import './variables';
@import './mixins';

.header {
    &-container {
        @extend %container;
        background-color: $secondary;
        padding-top: calc($gutter / 2);
        padding-bottom: calc($gutter /2);
        z-index: 999;
        position: sticky;
        top:0;

    }
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

    }
    &-logo {
        width: 150px;
        display: flex;

        @include breakpoint (m){
            width: 200px;
        }
        @include breakpoint(l){
            width: 250px;
        }
        &-button {
            @extend %buttonreset;
            align-self: flex-end;
        }
    }
    &-button {
        @extend %buttonreset;
        position: absolute;
        right: 16px;
        z-index: 999;
        display: flex;
        align-self: flex-end;


        @include breakpoint (m) {
            display: none;
        }

        &-symbol {
                    color: $primary;
                    font-size: 2.4rem;  
                    line-height: 1;
                }
    }
    &-nav {
        &-element {
            display: none;
            
            &.active {
                position: absolute;
                left: 0;
                top:0;
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: $secondary;
                box-shadow: 0 5px 5px black;
            }
            
            @include breakpoint (m) {
                display: flex;
                flex-direction:  row;
                
            }
        }
        &-list{
            @extend %listreset;
            display: flex;
            flex-direction: column;
            margin: 64px 16px;
            font-size: 2rem;
            gap: calc($gutter /2);

            @include breakpoint (m) {
                display: flex;
                flex-direction: row;
                gap: $gutter;
                font-size: 2.4rem;
                margin: 0;
            }
        }
        &-item {
            color: $primary;
            width: 230px;

            @include breakpoint (m){
                font-size: 2.4rem;
                width: 150px;
                text-align: center;
            }

            &:not(:first-child):hover {
                text-decoration: underline;
              }

            &Button {
                @extend %buttonreset;
                color: inherit;
                display: flex;
                align-items: center;
                gap: 8px;
            }

        } 
        &-inner {
            &Wrapper {
                display: none;
    
                &.active{
                    display: flex;
                    flex-direction: column;
                    
    
                    @include breakpoint (m) {
                        width: 100%;
                        background-color: $secondary;
                        box-shadow: 0 5px 5px black;
                        position: absolute;
                        left: 0;
                        align-items: center;
                        
                    }
                    
                }
            }
            &List{
                @extend %listreset;
                font-size: 1.8rem;
                padding-left: calc($gutter /2);
                font-weight: 400;
    
                @include breakpoint (m){
                    display: flex;
                    flex-direction: row;
                    gap: $gutter;
                    padding: $gutter calc($gutter/2)
                }
            }
            &Item {
                font-size: 1.8rem;
                font-weight: 200;

                @include breakpoint (s) {
                    font-size: 2.4rem;
                }
                @include breakpoint (m) {
              
                }

                &:hover{
                    text-decoration: underline;
                }   
            }
        }
    }
    

}
