@import './variables';
@import './mixins';

.login {
    &-container {
        @extend %container;
    }
    &-wrapper {
        display: flex;
        flex-direction:  column;
        align-items: center;
        @include breakpoint (m) {
            padding: $gutter calc($gutter * 2);
            
        }
    }
    &-header {
        padding-bottom: $gutter;
    }
    &-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: $gutter;
    text-align:  center;

    @include breakpoint (s) {
        width: 600px;
    }

    &-label {
        display: inline-flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.8rem;

        @include breakpoint (s) {
            font-size: 2.4rem;
        }
    }

    &-input{
        font-size: 1.6rem;
        height: 45px;
        box-shadow: 0 5px 5px black;
        border: none;
        padding: 0 8px;


        @include breakpoint (s) {
            height: 70px;
            padding-left: $gutter;

        }
        @include breakpoint (m) {
            font-size: 2.8rem;
            
        }

            &.error{
                border: 1px solid red;
            }
    }

    &-button{
        @extend %primarybutton;
        height: 45px;

        @include breakpoint (m) {
            font-size: 3rem;
            height: 70px;
        }
    }
    }

    &-link {
        &-button {
            @extend %primarybutton;
            height: 45px;
            padding: 0 8px;

            @include breakpoint (m) {
                height: 60px;
                font-size: 3rem;
            }
        }
    }
    &-text {
        text-align: center;
    }
}