@import './variables';
@import './mixins';

.search {
    &-container {
        @extend %container;
        background-color: $secondary;
        padding-top: $gutter;
        height: 80vh;
        margin-bottom: $gutter;

        @include breakpoint (s){
            display: flex;
            flex-direction: row;
            padding-bottom: $gutter;
            height: fit-content;
        }
    }

    &-hero {
        display: none;

        @include breakpoint (s) {
            flex:1;
            display: flex;
            justify-content: center;
    
            &-img {
                opacity: .5;
            }
        }
        
    }
    &-wrapper {
        flex: 1;

        @include breakpoint(s){
            flex:2
        }
    }
    &-header {
        color: $primary;
        padding-bottom: $gutter;

        @include breakpoint (m) {
            padding-bottom: 0;
            line-height: 1.25;
        }
    }

    &-text {
        background-color: $yellow;
        border-radius: 0 15px;
        padding: calc($gutter / 2);
        margin-bottom: $gutter;
    }
    &-form {
        display: flex;
        flex-direction: column;
        gap: calc($gutter / 2);

        @include breakpoint (s) {
            flex-direction: row;

        }
    }
    &-input {
        font-size: 1.6rem;
        height: 30px;
        box-shadow: 0 5px 5px black;
        border: none;
        

        @include breakpoint (s) {
            height: 70px;
            width: 80%;
            padding-left: $gutter;

            @include breakpoint (m) {
                font-size: 2rem;
            }
        }
    }
    &-button {
        @extend %buttonreset;
        background-color: $blue;
        height: 45px;
        width: 115px;
        border-radius: 5px;
        box-shadow: 0 5px 5px black;

        @include breakpoint (s) {
            height: 70px;
            width: 150px;
        }
    }
}